[data-md-color-scheme="ocf-light"] {
  --md-primary-fg-color: #FFFFFF;
  --md-primary-bg-color: #000000;
  --md-default-bg-color: #f5f5f5;
  --
}
[data-md-color-scheme="ocf-dark"] {
  /* TODO: dark color palette */
  --md-primary-fg-color: #928478;
}
/* :md-content > * {
  background-color: #ff0000;
} */
.md-content {
  background-color: var(--md-primary-fg-color);
}
.md-content h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
  color: #333;
  background-color: #de9;
  letter-spacing: inherit
}
